body {
    margin: 0;

}

.navwraper {
    display: flex;
    justify-content: space-between;
    height: 10vh;
    background-color: var(--nav-clr);
}

.n-left {
    display: flex;
    align-items: center;
    flex: 1;
    gap: 2rem;
}

.n-name {
    font-size: 1.3rem;
    font-weight: bold;
}


.n-right {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    flex: 1;
    gap: 1rem;
}

.n-lists {
    flex: 10;


}

.n-lists>ul {
    list-style: none;
    display: flex;
    position: relative;
    gap: 2rem;
    opacity: 0;
    animation: sildeTop 1s ease forwards;
    animation-delay: .7s;
}

.n-lists>ul>li:hover {
    background-color: red;
    border-radius: 1rem 1rem 1rem 0;
    display: flex;
    padding: 1px 5px 0px 10px;
    box-shadow: 0 0 20px rgb(255, 0, 0);
    cursor: pointer;

}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 23px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

@keyframes sildeTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}



  @media only screen and (max-width: 768px){

    .n-lists{
       display: none;
    }
    .n-name {
        margin-left: 1rem;
    }
    .nav-button{
        font-size: 13px;
      
    }
    .n-right{
        margin-left: 50%;
    }
  }

  
  @media only screen and (max-width: 600px){

    .nav-button{    
        font-size: 13px;
    }

}