.App {
  padding: 0.5rem 3.5rem;
  overflow: hidden;
  color: var(--bg);
}

.n-left{
  background-color:var(--navclr);
}

.button {
  box-shadow: var(--bg-shadow);
  border-radius: 34px;
  border: none;
  color: var(--btn-clr);
  font-size: 16px;
  padding: 11px 26px 11px 26px;
}

.button:hover {
  background: var(--btnback);
  cursor: pointer;
  border: 1px solid var(--orange);
  color: var(--orange);
}

@media screen and (max-width: 480px) {
  .App {
    padding: 0.5rem 1rem;

  }
}

* {
  overflow: auto;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;

}

html {
  scroll-behavior: smooth;

}

body {
  scroll-behavior: smooth;

}

::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-thumb {
  background-color: none;
}

::-webkit-scrollbar-track {
  background-color: none;
}


.dark-theme {
  --bg: linear-gradient(to right, rgb(37, 46, 124), rgb(32, 32, 30));
  --navclr: rgba(0, 0, 0, 0.756);
  --maintextcolor: #fff;
  --btn-clr: #5f99be;
  --btn-text-clr: black;
  --btnback: rgba(0, 0, 0, 0.499);
  --bg-shadow: var(--black);
  --bgshadow: 0 0 20px rgb(8, 8, 8);
  --bghover: red;


}

.light-theme {
  --bg: linear-gradient(to right, rgb(0, 140, 255), rgb(158, 158, 140));
  --navclr: rgb(159, 239, 253);
  --maintextcolor: #000000;
  --btnback: rgb(191, 189, 189);
  --btn-text-clr: rgb(255, 255, 255);
  --bg-shadow: var(white);
  --bgshadow: 0 0 20px gray;
  --bghover: rgb(0, 8, 255);
}